/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_home {
    max-width: 90vw;
    margin: 0px auto;
}


.home-section {
    padding-top: 10%;
    align-items: center;
    text-align: center;
    max-width: 90vw;
    margin-bottom: 5%;
}

.home-content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-content h1 {
    color: #E3B23C;
    font-family: 'Kumbh Sans';
    font-size: 14px;
    font-weight: 600;
    height: 17px;
    letter-spacing: 0.2em;
}

.home-descripion {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 1, 061px;
}

.home-descripion h1 {
    font-family: 'Kumbh Sans';
    font-size: 56px;
    font-weight: 500;
    line-height: 69.45px;
    text-align: center;


}

.home-descripion h2 {
    font-family: 'Kumbh Sans';
    font-size: 20px;
    color: #888888;
    font-weight: 400;
    text-align: center;
}

.slider-container {
    background-color: #EDF7FF;
    border-radius: 10px;
    overflow: hidden;
}

.image-content {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    display: inline-block;
    background-size: cover;
}

.image-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.home-fist:hover {
    transform: scale(1.1);
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    font-weight: 400;
    font-family: 'Kumbh Sans';
    color: #1A1A1A;
    font-size: 18px;
    align-items: center;
    text-align: center;
    width: 334px;
    height: 64px;
    border-radius: 8px;
    padding-top: 20px;
}

.icon-arrow {
    padding-top: 10px;
}

.left-icon {
    border-radius: 40px;
    font-size: 2.5rem;
    padding: 10px;
    cursor: pointer;
    background-color: #F5F5F3;
}

.right-icon {
    border-radius: 40px;
    margin-left: 20px;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 10px;
    background-color: #F5F5F3;
}

/*vision section*/
.container-section {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}

.home-text {
    width: 538px;
}

.home-text h1 {
    font-family: 'Kumbh Sans';
    font-size: 14px;
    font-weight: 600;
    color: #E3B23C;
    letter-spacing: 0.2em;
}

.home-text h2 {
    font-family: 'Kumbh Sans';
    font-size: 48px;
    font-weight: 500;
    color: #000000;
}

.home-paragraphs {
    max-width: 529px;
}

.home-paragraphs h1 {
    font-family: 'Kumbh Sans';
    font-weight: 300;
    font-size: 18px;
    color: #3A3A38;
}

.home-paragraphs h2 {
    font-family: 'Kumbh Sans';
    font-weight: 300;
    margin-top: 20px;
    font-size: 18px;
    color: #3A3A38;
}

.read-more-btn {
    display: none;
}

.home-paragraphs p {
    display: block;
}

.home-paragraphs-extra.hide {
    display: block;
}

.home-paragraphs-extra.show {
    display: block;
}


/* statistics section*/
.statistics-section {
    margin-top: 60px;
    padding: 28px 0;
    display: flex;
    max-width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.3px solid #ddd;
    border-top: 0.3px solid #ddd;
    margin-bottom: 100px;
}

.stat h1 {
    color: #1A1A1A;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Kumbh Sans';
    line-height: 49.61px;
}

.stat p {
    color: #888888;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Kumbh Sans';
}

/*services section*/
.our-services-section {
    text-align: center;
}

.our-services-h1 h1 {
    color: #E3B23C;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Kumbh Sans';
    letter-spacing: 0.2em;
}

.our-services-h1 h2 {
    color: #1A1A1A;
    margin-top: 8px;
    font-size: 48px;
    font-weight: 500;
    line-height: 59.53px;
    font-family: 'Kumbh Sans';

}

.our-services-p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.our-services-p p {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    font-family: 'Kumbh Sans';
    color: #888888;
    width: 942px;
    text-align: center;
}

.services-description {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 10%;
}

.service-contant {
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    background-color: #FFFFFF;
    border: 0.3px solid #ddd;
}

.s-describe {
    text-align: left;
    margin-top: 30px;
    padding-left: 16px;
}

.s-describe h1 {
    font-size: 28px;
    font-family: 'Kumbh Sans';
    color: #1A1A1A;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 34.73px;
}

.s-describe p {
    font-size: 18px;
    color: #3A3A38;
    max-width: 516px;
    font-family: 'Kumbh Sans';
    line-height: 22.32px;
    margin-bottom: 10px;
}

.s-image {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border-radius: 6px;
    position: relative;
}

.s-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.4s ease;
    display: block;

}

.service-contant .s-image:hover img {
    transform: scale(1.1);
    cursor: pointer;
}


/*TESTIMONIALS*/
.scroll-container {
    width: 100%;
    align-items: center;
    margin-top: 10%;

}

.scroll-container h1 {
    font-family: 'Kumbh Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-align: center;
    color: #E3B23C;
}

.scroll-container h2 {
    font-family: 'Kumbh Sans';
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: #1A1A1A;
}

.scroll-track {
    display: flex;
    width: 100%;
    gap: 30px;
    place-items: center;
    margin-left: 30px;
    padding: 0 40px;
}

.scroll-client {
    display: flex;
    margin-top: auto;
    position: relative;
    gap: 30px;
    place-items: center;
    margin-top: 5%;
    overflow: hidden;

}

.scroll-client:hover .scroll-track {
    animation-play-state: paused;
    cursor: pointer;
}

.scroll-client::before,
.scroll-client::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 1;
    pointer-events: none;
}

.scroll-client::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.scroll-client::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}


.scroll-track.scroll-left {
    animation: scroll-left 10s linear infinite;
}

.scroll-track.scroll-right {
    animation: scroll-right 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.scroll-track.rtl {
    animation: scroll-right 10s linear infinite;
}

.image-section {
    width: 400px;
    height: 586px;
    border-radius: 8px;
    padding: 30px;
    border: 0.3px solid #ddd;
}

.image-section img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding-top: 5px;
    margin-right: 20px;

}

.testimonial-name {
    margin-top: 10px;
}

.testimonial-name h4 {
    font-family: 'Kumbh Sans';
    font-size: 24px;
    font-weight: 500;
    line-height: 29.77px;
    text-align: left;
    color: #1A1A1A;
}

.testimonial-name p {
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: left;
    color: #888888B2;
}

.testimonial-text {
    font-family: 'Kumbh Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: left;
    color: #1A1A1A;
    margin-top: 0;
}

.one {
    display: flex;
}

.t-text p {
    font-family: 'Vendya';
    font-size: 150px;
    color: #1A1A1A29;
    margin-top: 20%;
}


.s-arrow {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
}

.sleft-icon {
    border-radius: 40px;
    font-size: 2.5rem;
    padding: 10px;
    background-color: #F5F5F3;
}

.sright-icon {
    border-radius: 40px;
    margin-left: 20px;
    font-size: 2.5rem;
    padding: 10px;
    background-color: #F5F5F3;
}

/*projects-container */

.projects-grid a {
    text-decoration: none;
    color: inherit;
}


.projects-container-section {
    margin: 0 auto;
    max-width: 100vw;
    text-align: center;
    padding: 60px 20px;
    background-color: #F5F5F3;
}

.projects-title {
    color: #E3B23C;
    font-family: 'Kumbh Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 17.36px;
    letter-spacing: 0.2em;
    text-align: center;

}

.projects-heading {
    font-family: 'Kumbh Sans';
    font-size: 48px;
    font-weight: 500;
    line-height: 59.53px;
    text-align: center;
    color: #1A1A1A;

}

.projects-subtitle {
    font-family: 'Kumbh Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: center;
    color: #888888;

}

.projects-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;

}

.grid-item:last-child {
    grid-column: 2 / span 1;
}

.grid-item {
    border-right: 0.3px solid #ddd;
    padding: 30px;
    font-size: 30px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: transform 05.s ease;
}

.grid-item:hover h2 {
    transform: scale(1.1);
    color: #1A1A1A;
    cursor: pointer;
    font-weight: bold;
}

.grid-item h2 {
    font-family: 'Kumbh Sans';
    font-size: 24px;
    font-weight: 500;
    line-height: 29.77px;
    text-align: center;
    transition: transform 0.5s ease, color 0.5s ease;

}

.g-image {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    background-size: cover;
}

.g-image img {
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.5s ease;
    display: block;
}

.grid-item:hover .g-image img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


.states {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.states h2 {
    font-family: 'Kumbh Sans';
    font-size: 75px;
    font-weight: 800;
    line-height: 93.02px;
    text-align: center;
    color: #888888;

}

.states h3 {
    font-family: 'Kumbh Sans';
    font-size: 24px;
    font-weight: 300;
    line-height: 29.77px;
    text-align: center;
    color: #888888;
}

.projects-grid::after,
.projects-grid::before {
    content: "";
    position: absolute;
    left: 33.33%;
    top: 0;
    bottom: 0;
    width: 2px;
}

.projects-grid::before {
    left: 66.66%;
}

.grid-item:nth-child(3n) {
    border-right: none;
}

.projects-grid .grid-item:nth-child(1),
.projects-grid .grid-item:nth-child(2),
.projects-grid .grid-item:nth-child(3),
.projects-grid .grid-item:nth-child(4),
.projects-grid .grid-item:nth-child(5),
.projects-grid .grid-item:nth-child(6),
.projects-grid .grid-item:nth-child(7),
.projects-grid .grid-item:nth-child(8),
.projects-grid .grid-item:nth-child(9),
.projects-grid .grid-item:nth-child(10),
.projects-grid .grid-item:nth-child(11),
.projects-grid .grid-item:nth-child(12) {
    border-bottom: 0.3px solid #ddd;
    grid-column: span;
}

.projects-grid .grid-item:nth-child(13) {
    border-right: 0.3px solid #ddd;
    grid-column: span;
}

.projects-grid .grid-item:nth-child(13) {
    border-left: 0.3px solid #ddd;
    grid-column: span;
}

/* Responsive styles for mobile devices */
@media (max-width: 430px) and (min-width:320px) {
    .container_home {
        max-width: 90vw;
        margin: 0px auto;
    }

    .home-section {
        max-width: 100vw;
        margin-top: 60px;
        justify-content: center;
    }

    .home-content h1 {
        font-family: 'Kumbh Sans';
        font-size: 10px;
        font-weight: 600;
    }

    .home-descripion {
        align-items: center;

    }

    .home-descripion h1 {
        font-family: 'Kumbh Sans';
        font-size: 36px;
        font-weight: 500;
        line-height: 44.65px;
        text-align: center;
    }

    .home-descripion h2 {
        font-family: 'Kumbh Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.84px;
        width: 328px;
        margin-left: 30px;
        text-align: center;
    }

    .image-caption {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FFFFFF;
        font-weight: 400;
        font-family: 'Kumbh Sans';
        color: #1A1A1A;
        font-size: 10px;
        align-items: center;
        text-align: center;
        width: 200px;
        height: auto;
        padding: 5px;
        border-radius: 8px;
    }

    .container-section {
        flex-direction: column;
    }

    .home-text {
        width: 328px;
    }

    .home-text h1 {
        font-size: 10px;
    }

    .home-text h2 {
        font-size: 22px;
        font-family: 'Kumbh Sans';
        font-weight: 500;
        line-height: 32.25px;
        text-align: left;
        width: 328px;
        color: #1A1A1A;
    }

    .home-paragraphs {
        width: 100%;
        margin-top: 10px;
    }

    .home-paragraphs h1 {
        font-size: 14px;
    }

    .home-paragraphs h2 {
        font-size: 14px;
    }

    .home-paragraphs-extra.hide {
        display: none;
    }

    .read-more-btn {
        display: block;
        background-color: white;
        border: none;
        font-size: 14px;
        font-weight: 600;
        color: #3A3A38;
    }

    .home-paragraphs p {
        margin-top: 10px;
        font-size: 14px;
        font-family: 'Kumbh Sans';
        font-size: 14px;
        font-weight: 300;
        line-height: 17.36px;
        text-align: left;
    }

    .statistics-section {
        display: flex;
        align-items: center;
        margin-top: 10%;
        height: 99px;
        gap: 35px;
    }

    .stat {
        margin: 10px 0;
    }

    .stat h1 {
        font-family: 'Kumbh Sans';
        font-size: 20px;
        font-weight: 500;
        line-height: 24.8px;
        text-align: center;
    }

    .stat p {
        font-family: 'Kumbh Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 17.36px;
        text-align: center;
        width: 90px;
        height: 34px;
    }

    .our-services {
        max-width: 100vw;
        gap: 12px;
        text-align: left;

    }

    .our-services-h1 h1 {
        font-family: 'Kumbh Sans';
        font-size: 10px;
        font-weight: 600;
        line-height: 12.4px;
        text-align: left;
        letter-spacing: 0.2em;
    }

    .our-services-h1 h2 {
        font-family: 'Kumbh Sans';
        font-size: 26px;
        font-weight: 500;
        line-height: 32.25px;
        text-align: left;
    }

    .our-services-p p {
        font-family: 'Kumbh Sans';
        font-size: 14px;
        font-weight: 300;
        line-height: 17.36px;
        text-align: left;
        margin-right: 50px;
        width: 328px;
    }

    .services-description {
        flex-direction: column;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);

    }

    .service-contant {
        max-width: 100%;
        height: auto;
        padding: 15px;
    }

    .s-describe {
        margin-top: 0;
    }

    .s-image {
        border-radius: 4px;
    }

    .s-describe h1 {
        font-family: 'Kumbh Sans';
        font-size: 20px;
        color: #1A1A1A;
    }

    .s-describe p {
        font-family: 'Kumbh Sans';
        font-size: 14px;
        color: #3A3A38;
    }

    .projects-container {
        top: 2775px;
        height: 1150px;
        left: 10px;
        padding: 24px 6px 541px 6px;
    }

    .projects-title {
        font-family: 'Kumbh Sans';
        font-size: 10px;
        font-weight: 600;
        line-height: 12.4px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .projects-heading {
        font-family: 'Kumbh Sans';
        font-size: 26px;
        font-weight: 500;
        line-height: 32.25px;
        text-align: center;
    }

    .projects-subtitle {
        font-family: 'Kumbh Sans';
        font-size: 14px;
        font-weight: 300;
        line-height: 17.36px;
        text-align: center;
        width: 280px;
        margin-top: 14px;
        margin-left: 30px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 2px;
    }

    .grid-item {
        margin: 0;
        text-align: center;
    }

    .grid-item h2 {
        font-size: 11px;
        margin-top: 6px;
    }

    .g-image img {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }

    .grid-item.states {
        grid-column: span 2;
        text-align: center;
    }

    .grid-item.states h2 {
        font-size: 22px;
        line-height: 40.02px;
    }

    .grid-item.states h3 {
        font-size: 12px;
    }

    .grid-item:nth-child(1n) {
        border-right: 0.3px solid #ddd;
    }

    .grid-item:nth-child(2n) {
        border-right: none;
    }

    .grid-item:nth-child(9n) {
        border-bottom: none;
    }


    
    .grid-item:nth-child(13),
    .grid-item:last-child {
        grid-column: 1 / -1; 
        justify-self: center;  
        text-align: center; 
        margin: 0;
        border-left: none;
    }
    .projects-grid .grid-item:nth-child(13){
        border-right: none;
    }



    .scroll-container {
        margin-top: 10%;
        width: 100%;
        align-items: center;
    }

    .scroll-container h1 {
        font-family: 'Kumbh Sans';
        font-size: 10px;
        font-weight: 600;
        line-height: 12.4px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .scroll-container h2 {
        font-family: 'Kumbh Sans';
        font-size: 26px;
        font-weight: 500;
        line-height: 32.25px;
        text-align: center;
    }

    .scroll-track {
        display: flex;
        width: 400%;
        gap: 30px;
        place-items: center;
        margin-left: 30px;
        padding: 0 40px;
    }


    .image-section {
        padding: 15px;
        width: 360px;
        height: 500px;
    }

    .scroll-client {
        display: flex;
    }

    .scroll-client::before {
        margin-left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .scroll-client::after {
        margin-right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }


    .testimonial-name h4 {
        font-size: 16px;
    }

    .testimonial-text {
        font-size: 12px;
    }

    .t-text p {
        font-family: 'Vendya';
        font-size: 110px;
        color: #1A1A1A29;
        margin-top: 10%;
    }


    .s-arrow {
        margin-top: 15px;
    }

    .sleft-icon,
    .sright-icon {
        font-size: 2rem;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .container_home {
        max-width: 90vw;
        margin: 0px auto;
    }

    .home-section {
        max-width: 100vw;
        margin: 0 auto;
        padding-top: 15%;
    }

    .home-content h1 {
        font-size: 12px;
    }

    .home-descripion {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }

    .home-descripion h1 {
        font-size: 35px;
    }

    .home-descripion h2 {
        font-size: 16px;
    }

    .slider-container {
        margin: 0 auto;
    }

    .image-caption {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FFFFFF;
        font-weight: 400;
        font-family: 'Kumbh Sans';
        color: #1A1A1A;
        font-size: 14px;
        align-items: center;
        text-align: center;
        width: 300px;
        height: auto;
        padding: 5px;
        border-radius: 8px;
    }

    .container-section {
        margin-top: 40px;
    }

    .home-text {
        width: 100%;
        align-items: center;
    }

    .home-text h2 {
        font-size: 30px;
    }

    .home-paragraphs {
        width: 100%;
    }


    .statistics-section {
        max-width: 100vw;

    }

    .stat {
        margin: 10px 0;
        width: 100%;
    }

    .stat p {
        font-size: 18px;
    }

    .our-services-h1 h2 {
        font-size: 35px;
    }

    .our-services-p p {
        font-size: 17px;
    }

    .our-services-h1 h1,
    .our-services-h1 h2 {
        text-align: center;
    }

    .services-description {
        grid-template-columns: repeat(1, 2r);
        gap: 40px;
    }

    .s-describe {
        margin: 0;
    }

    .service-contant {
        align-items: center;
    }

    .s-describe h1 {
        font-size: 22px;
    }


    .projects-container-section {
        max-width: 100vw;
        margin: 0 auto;
        padding: 20px;
    }

    .t-text p {

        color: #1A1A1A29;
    }

    .projects-heading {
        font-size: 32px;
    }

    .projects-subtitle {
        font-size: 16px;
    }

    .g-image h2 {
        font-size: 18px;
    }

    .scroll-container {
        margin-top: 5%;
    }

    .scroll-container h1 {
        font-size: 12px;
    }

    .scroll-container h2 {
        font-size: 30px;
    }

    .image-section {
        padding: 15px;
        width: 370px;
    }

    .states h3 {
        font-size: 24px;
        font-weight: 300;
        line-height: 29.77px;
    }

    .scroll-client {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .scroll-client::before {
        margin-left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .scroll-client::after {
        margin-right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    .s-arrow {
        margin-top: 15px;
    }

    .sleft-icon,
    .sright-icon {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    .s-describe p {
        font-size: 16px;
    }

}